# Override file for docker-compose.yml in DEV environment
# This file is automatically used by `docker compose` when no -f flag is specified

services:
  # VAULT SERVICE - DEV MODE
  vault:
    # Run in dev mode for easier development
    entrypoint: /entrypoint.sh
    volumes:
      - ./infra/secret:/run/secrets:ro
      - ./infra/vault/init_vault.sh:/init-vault.sh:ro
      - ./infra/vault/entrypoint.sh:/entrypoint.sh:ro
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_DEV_ROOT_TOKEN_ID: root_token_dev_only

  # PostgreSQL SERVICE - DEV MODE
  postgres:
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_db_pass.txt
    volumes:
      - ./infra/secret:/run/secrets:ro
    ports:
      - "5432:5432" # Expose for local development (DBeaver, pgAdmin, etc.)

  # Redis SERVICE - DEV MODE
  redis:
    ports:
      - "6378:6379" # Expose for local development (RedisInsight, CLI)

  # WAF SERVICE - DEV MODE
  waf:
    ports:
      - "8080:80"   # HTTP
      - "8443:443"  # HTTPS


  # api_gateway:
  #   environment:
  #     - VAULT_AUTH_METHOD=approle
  #     - VAULT_ROLE_ID=gateway-role-id
  #     - VAULT_SECRET_ID=gateway-secret-id
