#docker compose base file

networks:
  public_net:
  dmz_net:
  service_mesh:
  logging_net:

# Persistent volumes
volumes:
  postgres_data:
  redis_data:
  vault_data:

services:
  #WAF SERVICE
  waf:
    image: owasp/modsecurity-crs:nginx-alpine
    container_name: waf
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./infra/waf/modsecurity.conf:/etc/nginx/modsecurity.conf:rw
    networks:
      - public_net
      - dmz_net
      - logging_net
    depends_on:
      - vault
    healthcheck:
      test: ["CMD-SHELL", "nc -zv localhost 80 2>&1 | grep -q succeeded && exit 0 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  api-gateway:
    build:
      context: .
      dockerfile: packages/backend/api-gateway/Dockerfile
    container_name: api-gateway
    restart: unless-stopped
    environment:
      - PORT=3000
      - HOST=0.0.0.0
    networks:
      - dmz_net
      - service_mesh
      - logging_net
    depends_on:
      - vault
      - redis
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000/health', (r) => {process.exit(r.statusCode === 200 ? 0 : 1)})"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s


  vault:
    image: hashicorp/vault:1.13.3
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
      - VAULT_SKIP_VERIFY=true
    networks:
      - service_mesh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8200/v1/sys/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    depends_on: []

  # DATABASE SERVICE
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=root_admin
    volumes:
      - postgres_data:/var/lib/postgres/data
      - ./infra/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - service_mesh
      - logging_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root_admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - vault

  # REDIS SERVICE
  redis:
    image: redis:7-alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - service_mesh
      - logging_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - vault

