services:
  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "443:443"
    environment:
      - LOGSTASH_HOST=logstash
      - LOGSTASH_PORT=5000
    volumes:
      - ./modsecurity/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./modsecurity/modsecurity.conf:/etc/nginx/modsecurity.conf:ro
      - ./modsecurity/rules:/etc/nginx/rules:ro
      - ./modsecurity/crs-setup.conf:/etc/nginx/crs-setup.conf:ro
    depends_on:
      - api_gateway
      - logstash
    networks:
      - public_net
      - dmz_net
      - logging_net

  api_gateway:
    build: ../packages/backend/api-gateway
    container_name: api-gateway
    expose:
      - "3000"
    networks:
      - dmz_net
      - service_mesh

networks:
  public_net:
  dmz_net:
  service_mesh:
  logging_net:
