services:
  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "443:443"
      
    environment:
      - LOGSTASH_HOST=logstash
      - LOGSTASH_PORT=5000
    volumes:
      - ./modsecurity/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./modsecurity/modsecurity.conf:/etc/nginx/modsecurity.conf:ro
      - ./modsecurity/rules:/etc/nginx/rules:ro
      - ./modsecurity/crs-setup.conf:/etc/nginx/crs-setup.conf:ro
    depends_on:
      - api_gateway
      - logstash
    networks:
      - public_net
      - dmz_net
      - logging_net
    restart:
      unless-stopped

  api_gateway:
    build: ../packages/backend/api-gateway
    container_name: api-gateway
    expose:
      - "3000"
    networks:
      - dmz_net
      - service_mesh
    restart:
      unless-stopped

  db:
    image: postgres:latest
    container_name: db
    environment:
      - POSTGRES_USER=root_admin
      - POSTGRES_PASSWORD_FILE=/run/secret/postgres_pass
    volumes:
      - postgres_db:/var/lib/postgresql/data
      - db_secrets_vol:/run/secret:ro
      - ./infrastructure/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend_net
    healthcheck:
      test: ["CMD_SHELL", "pg_isready -U root_admin"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart:
      unless-stopped

  db_sidecar:
    image: hashicorp/vault:1.13.3
    container_name: db_sidecar
    depends_on:
      - vault
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=postgres-token
    volumes:
      - db_secrets_vol:/run/secret

  vault:
    image: hashicorp/vault:1.13.3
    container_name: vault
    environment:
      - VAULT_ROOT_ADMIN: root_admin_key
      - VAULT_ADDR: 'http://0.0.0.0.8200'

      # Local (dev) use docker secret
      - AUTH_DB_PASS_FILE: /run/secret/auth_db_pass
      - CHAT_DB_PASS_FILE: /run/secret/chat_db_pass
      - GAME_DB_PASS_FILE: /run/secret/game_db_pass
      - USER_DB_PASS_FILE: /run/secret/user_db_pass

      # Production use env variables through github actions secret
      - AUTH_DB_PASS: ${AUTH_DB_PASS}
      - CHAT_DB_PASS: ${CHAT_DB_PASS}
      - GAME_DB_PASS: ${GAME_DB_PASS}
      - USER_DB_PASS: ${USER_DB_PASS}

    secret:
      - auth_db_pass
      - chat_db_pass
      - game_db_pass
      - user_db_pass

    volumes:
      - ./infrastructure/vault/policies:/vault/policies
      - ./infrastructure/vault/init_vault.sh:/docker-entrypoint-init.sh

secret:
  auth_db_pass:
    file: ./secret/auth_db_pass.txt
  chat_db_pass:
    file: ./secret/chat_db_pass.txt
  game_db_pass:
    file: ./secret/game_db_pass.txt
  user_db_pass:
    file: ./secret/user_db_pass.txt

networks:
  public_net:
  backend_net:
  dmz_net:
  service_mesh:
  logging_net:

volumes:
  postgres_db: